*{
    margin: 0;
    padding: 0;
}

body{
    margin: 25px;
}
.calculadora{
    background-color: black;
    width: 650px;
    height: 1300px;
    border-radius: 50px;
    padding: 20px;
    color: white;
}
.display-class{
    font-size: 130px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 300px;
    height: 160px;
    text-align: right;

}
.buttons-container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    font-size: 60px;
    font-family: 'Anybody';
    cursor: pointer;
    background-color: rgb(82, 81, 81);;
    transition: filter .1s;
    border-radius: 50%;
}

.btn.btn-operator{
    background-color: orange;
    font-family: 'Montserrat';
}

.btn.btn-top{
    background-color: rgb(124, 124, 124);
}

#btn-zero{
    width: 250px;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 42px;
    grid-column: 1/3;
}

#btn-C{
    width: 250px;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 42px;
    grid-column: 1/3;
}


#btn-equal{
    width: 250px;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 42px;
    grid-column: 3/5;
}

.btn:active,
.btn:focus{
 filter: brightness(120%);
}



