*{
    margin: 0;
    padding: 0;
}

body{
    margin: 25px;
    user-select: none;
}
.calculadora{
    background-color: #081f35;
    width: 520px;
    height: 750px;
    border-radius: 20px;
    padding-top: 35px;
    color: white;
    margin: auto;
}

.display-class{
    font-size: 80px;
    margin-right: 20px;
    margin-top: 80px;
    height: 140px;
    text-align: right;
    font-family: 'Montserrat';
}
.buttons-container{
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #0b2742;
    padding: 20px;
    height: 490px;
    border-radius: 0 0 20px 20px;
    border-top: 2px #0235df solid;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Anybody';
    cursor: pointer;
    transition: filter .1s;
}

.btn.btn-operator{
    font-family: 'Montserrat';
    color: #0949d1;
}

.btn.btn-top{
    color: #0235df;
}

#btn-zero{
    width: 200px;
    border-radius: 10px;
    justify-content: center;
    grid-column: 1/3;
}

#btn-C{
    width: 200px;
    border-radius: 10px;
    justify-content: center;
    grid-column: 1/3;
    color: rgb(255, 115, 0);
}

#btn-equal{
    width: 200px;
    border-radius: 10px;
    justify-content: center;
    grid-column: 3/5;
    background-color: #0949d1;
    color: white;
}

.btn:active,
.btn:focus{
 filter: brightness(120%);
}

